## Importing Libraries

In [1]:
import numpy as np
import pandas as pd

## Importing Dataset

In [2]:
data = pd.read_csv('IMDB_Indian_Movies.csv')

In [3]:
data.shape

(2199, 8)

## Data Preprocessing

In [4]:
data.isnull().sum()

Unnamed: 0     0
movie_id       0
movie_name     0
year          65
genre          0
overview       0
director       0
cast           0
dtype: int64

In [5]:
data.head()

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
0,0,tt15354916,Jawan,2023,"Action, Thriller",A high-octane action thriller which outlines t...,Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."
1,1,tt15748830,Jaane Jaan,2023,"Crime, Drama, Mystery",A single mother and her daughter who commit a ...,Sujoy Ghosh,"Kareena Kapoor, Jaideep Ahlawat, Vijay Varma, ..."
2,2,tt11663228,Jailer,2023,"Action, Comedy, Crime",A retired jailer goes on a manhunt to find his...,Nelson Dilipkumar,"Rajinikanth, Mohanlal, Shivarajkumar, Jackie S..."
3,3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"Comedy, Drama, Family",Flamboyant Punjabi Rocky and intellectual Beng...,Karan Johar,"Ranveer Singh, Alia Bhatt, Dharmendra, Shabana..."
4,4,tt15732324,OMG 2,2023,"Comedy, Drama",An unhappy civilian asks the court to mandate ...,Amit Rai,"Pankaj Tripathi, Akshay Kumar, Yami Gautam, Pa..."

In [6]:
data.drop('year', axis = 1,inplace=True)

In [7]:
data.shape

(2199, 7)

In [8]:
data.isnull().sum()

Unnamed: 0    0
movie_id      0
movie_name    0
genre         0
overview      0
director      0
cast          0
dtype: int64

In [9]:
data.drop('Unnamed: 0', axis = 1,inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movie_id    2199 non-null   object
 1   movie_name  2199 non-null   object
 2   genre       2199 non-null   object
 3   overview    2199 non-null   object
 4   director    2199 non-null   object
 5   cast        2199 non-null   object
dtypes: object(6)
memory usage: 103.2+ KB

In [11]:
data.head()

,movie_id,movie_name,genre,overview,director,cast
0,tt15354916,Jawan,"Action, Thriller",A high-octane action thriller which outlines t...,Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."
1,tt15748830,Jaane Jaan,"Crime, Drama, Mystery",A single mother and her daughter who commit a ...,Sujoy Ghosh,"Kareena Kapoor, Jaideep Ahlawat, Vijay Varma, ..."
2,tt11663228,Jailer,"Action, Comedy, Crime",A retired jailer goes on a manhunt to find his...,Nelson Dilipkumar,"Rajinikanth, Mohanlal, Shivarajkumar, Jackie S..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"Comedy, Drama, Family",Flamboyant Punjabi Rocky and intellectual Beng...,Karan Johar,"Ranveer Singh, Alia Bhatt, Dharmendra, Shabana..."
4,tt15732324,OMG 2,"Comedy, Drama",An unhappy civilian asks the court to mandate ...,Amit Rai,"Pankaj Tripathi, Akshay Kumar, Yami Gautam, Pa..."

In [12]:
data['genre'] = data['genre'].apply(lambda x:x.split(','))
data['overview'] = data['overview'].apply(lambda x:x.split())
data['director'] = data['director'].apply(lambda x:x.split(','))
data['cast'] = data['cast'].apply(lambda x:x.split(','))

In [13]:
data.head()

,movie_id,movie_name,genre,overview,director,cast
0,tt15354916,Jawan,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[Shah Rukh Khan, Nayanthara, Vijay Sethupath..."
1,tt15748830,Jaane Jaan,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[Sujoy Ghosh],"[Kareena Kapoor, Jaideep Ahlawat, Vijay Varm..."
2,tt11663228,Jailer,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[Nelson Dilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, Jack..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[Karan Johar],"[Ranveer Singh, Alia Bhatt, Dharmendra, Sha..."
4,tt15732324,OMG 2,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[Amit Rai],"[Pankaj Tripathi, Akshay Kumar, Yami Gautam,..."

In [14]:
data['genre']    = data['genre'].apply(lambda x:[i.replace(" ", "") for i in x])
data['overview'] = data['overview'].apply(lambda x:[i.replace(" ", "") for i in x])
data['director'] = data['director'].apply(lambda x:[i.replace(" ", "") for i in x])
data['cast']     = data['cast'].apply(lambda x:[i.replace(" ", "") for i in x])

In [15]:
data.head()

,movie_id,movie_name,genre,overview,director,cast
0,tt15354916,Jawan,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[ShahRukhKhan, Nayanthara, VijaySethupathi, De..."
1,tt15748830,Jaane Jaan,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[SujoyGhosh],"[KareenaKapoor, JaideepAhlawat, VijayVarma, Sa..."
2,tt11663228,Jailer,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[NelsonDilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, JackieS..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[KaranJohar],"[RanveerSingh, AliaBhatt, Dharmendra, ShabanaA..."
4,tt15732324,OMG 2,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[AmitRai],"[PankajTripathi, AkshayKumar, YamiGautam, Pawa..."

In [16]:
data["tags"] = data['genre'] + data['overview'] + data['director'] + data['cast']

In [17]:
data.head()

,movie_id,movie_name,genre,overview,director,cast,tags
0,tt15354916,Jawan,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[ShahRukhKhan, Nayanthara, VijaySethupathi, De...","[Action, Thriller, A, high-octane, action, thr..."
1,tt15748830,Jaane Jaan,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[SujoyGhosh],"[KareenaKapoor, JaideepAhlawat, VijayVarma, Sa...","[Crime, Drama, Mystery, A, single, mother, and..."
2,tt11663228,Jailer,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[NelsonDilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, JackieS...","[Action, Comedy, Crime, A, retired, jailer, go..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[KaranJohar],"[RanveerSingh, AliaBhatt, Dharmendra, ShabanaA...","[Comedy, Drama, Family, Flamboyant, Punjabi, R..."
4,tt15732324,OMG 2,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[AmitRai],"[PankajTripathi, AkshayKumar, YamiGautam, Pawa...","[Comedy, Drama, An, unhappy, civilian, asks, t..."

In [18]:
movies = data[['movie_id', 'movie_name', 'tags']]

In [19]:
movies.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,"[Action, Thriller, A, high-octane, action, thr..."
1,tt15748830,Jaane Jaan,"[Crime, Drama, Mystery, A, single, mother, and..."
2,tt11663228,Jailer,"[Action, Comedy, Crime, A, retired, jailer, go..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"[Comedy, Drama, Family, Flamboyant, Punjabi, R..."
4,tt15732324,OMG 2,"[Comedy, Drama, An, unhappy, civilian, asks, t..."

In [20]:
movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))

C:\Users\dell\AppData\Local\Temp\ipykernel_3600\2975052693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))

In [21]:
movies.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,Action Thriller A high-octane action thriller ...
1,tt15748830,Jaane Jaan,Crime Drama Mystery A single mother and her da...
2,tt11663228,Jailer,Action Comedy Crime A retired jailer goes on a...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,Comedy Drama Family Flamboyant Punjabi Rocky a...
4,tt15732324,OMG 2,Comedy Drama An unhappy civilian asks the cour...

In [22]:
movies['tags'][0]

'Action Thriller A high-octane action thriller which outlines the emotional journey of a man who is set to rectify the wrongs in the society. Atlee ShahRukhKhan Nayanthara VijaySethupathi DeepikaPadukone'

In [23]:
movies['tags'] = movies['tags'].apply(lambda x:x.lower())

C:\Users\dell\AppData\Local\Temp\ipykernel_3600\1170348455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x:x.lower())

In [24]:
movies['tags'][0]

'action thriller a high-octane action thriller which outlines the emotional journey of a man who is set to rectify the wrongs in the society. atlee shahrukhkhan nayanthara vijaysethupathi deepikapadukone'

## Text Vectorization

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=4000, stop_words='english')

In [26]:
vectors = cv.fit_transform(movies['tags']).toarray()

In [27]:
cv.get_feature_names_out()

array(['000', '10', '11', ..., 'zone', 'zoya', 'zoyaakhtar'], dtype=object)

In [28]:
!pip install nltk

Requirement already satisfied: nltk in c:\python3.12\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\python3.12\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\python3.12\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\python3.12\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\python3.12\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\python3.12\lib\site-packages (from click->nltk) (0.4.6)

In [29]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [30]:
def stem_text(text):
    ans = []
    for i in text.split():
        ans.append(ps.stem(i))
    return " ".join(ans)

In [31]:
movies['tags'] = movies['tags'].apply(stem_text)

C:\Users\dell\AppData\Local\Temp\ipykernel_3600\436756272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(stem_text)

In [32]:
movies['tags'][10]

'comedi drama two friend are search for their long lost companion. they revisit their colleg day and recal the memori of their friend who inspir them to think differently, even as the rest of the world call them "idiots". rajkumarhirani aamirkhan madhavan monasingh sharmanjoshi'

In [33]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [34]:
similarity.shape

(2199, 2199)

In [35]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:4]

[(574, np.float64(0.41962716370814124)),
 (51, np.float64(0.4183300132670378)),
 (2161, np.float64(0.39999999999999997))]

In [36]:
def recommend_movies(movie):
    movie_index = movies[movies['movie_name'] == movie].index[0]
    distances   = similarity[movie_index]
    top_movies  = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:4]
    top3        = []
    movie_id    = []
    for i in top_movies:
        top3.append(movies.iloc[i[0]].movie_name)
        movie_id.append(movies.iloc[i[0]].movie_id)
    return top3, movie_id

In [37]:
top_movies, top_movies_id  = recommend_movies("Rocky Aur Rani Kii Prem Kahaani")
print(top_movies,top_movies_id)

['Zara Hatke Zara Bachke', 'Guddi', 'Karm'] ['tt15576460', 'tt0067164', 'tt0158698']

In [38]:
import pickle

In [39]:
pickle.dump(movies, open('movies_data.pkl', 'wb'))

In [50]:
movies['movie_name'].values

array(['Jawan', 'Jaane Jaan', 'Jailer', ..., 'Time to Dance',
       'Nigahen: Nagina Part II', 'Kyo Kii... Main Jhuth Nahin Bolta'],
      dtype=object)

In [52]:
pickle.dump(similarity, open("similarity.pkl", "wb"))

In [1]:
import requests
from bs4 import BeautifulSoup

In [6]:
response = requests.get('https://www.google.com/search?q=sanak+movie+trailer+link')
soup   = BeautifulSoup(response.text, 'html.parser')

In [12]:
soup.find_all('div')

[<div style="max-width:400px;">
 <hr noshade="" size="1" style="color:#ccc; background-color:#ccc;"/><br/>
 <form action="index" id="captcha-form" method="post">
 <noscript>
 <div style="font-size:13px;">
   In order to continue, please enable javascript on your web browser.
 </div>
 </noscript>
 <script async="" defer="" src="https://www.google.com/recaptcha/api.js"></script>
 <script>var submitCallback = function(response) {document.getElementById('captcha-form').submit();};</script>
 <div class="g-recaptcha" data-callback="submitCallback" data-s="basyocNNrVNJsujfY-5pjeySR4lJQhDQxg_dsoqXttpUgTRJ279EjbSUm2mQA157X9HWcuLdeqVYN8AqymKIoRt71VpVenlDxQyG3TgaZZr29I2owTC47zVX4fUJHK-cTefL4ThLHTiLqFsby4gjwuKEh4jLo7KwDHI_s_eLDgMUy3J_-1inBNlTA0VpMCV8ADZQqL7U6FS5SuM-JvyWjwpHPjvNKfdguXTUan-zrTnzIb1kAhgHagH3gCys881zJ6aUYNRPE-JuqXCvCMkaCZa-GA-pNBw" data-sitekey="6LfwuyUTAAAAAOAmoS0fdqijC2PbbdH4kjq62Y1b" id="recaptcha"></div>
 <input name="q" type="hidden" value="EgR9EL3lGJ6_3LcGIjAxATEVudE-HaEYGmm-6Gjcl54rZ4II7EBhvwQoW6OVW3vPbfaGFP-EFCLKH9-8q9AyAXJaAUM"/><input name="continue" type="hidden" value="https://www.google.com/search?q=sanak+movie+trailer+link"/>
 </form>
 <hr noshade="" size="1" style="color:#ccc; background-color:#ccc;"/>
 <div style="font-size:13px;">
 <b>About this page</b><br/><br/>

 Our systems have detected unusual traffic from your computer network.  This page checks to see if it's really you sending the requests, and not a robot.  <a href="#" onclick="document.getElementById('infoDiv').style.display='block';">Why did this happen?</a><br/><br/>
 <div id="infoDiv" style="display:none; background-color:#eee; padding:10px; margin:0 0 15px 0; line-height:1.4em;">
 This page appears when Google automatically detects requests coming from your computer network which appear to be in violation of the <a href="//www.google.com/policies/terms/">Terms of Service</a>. The block will expire shortly after those requests stop.  In the meantime, solving the above CAPTCHA will let you continue to use our services.<br/><br/>This traffic may have been sent by malicious software, a browser plug-in, or a script that sends automated requests.  If you share your network connection, ask your administrator for help  a different computer using the same IP address may be responsible.  <a href="//support.google.com/websearch/answer/86640">Learn more</a><br/><br/>Sometimes you may be asked to solve the CAPTCHA if you are using advanced terms that robots are known to use, or sending requests very quickly.
 </div>

 IP address: 125.16.189.229<br/>Time: 2024-09-27T21:11:59Z<br/>URL: https://www.google.com/search?q=sanak+movie+trailer+link<br/>
 </div>
 </div>,
 <div style="font-size:13px;">
   In order to continue, please enable javascript on your web browser.
 </div>,
 <div class="g-recaptcha" data-callback="submitCallback" data-s="basyocNNrVNJsujfY-5pjeySR4lJQhDQxg_dsoqXttpUgTRJ279EjbSUm2mQA157X9HWcuLdeqVYN8AqymKIoRt71VpVenlDxQyG3TgaZZr29I2owTC47zVX4fUJHK-cTefL4ThLHTiLqFsby4gjwuKEh4jLo7KwDHI_s_eLDgMUy3J_-1inBNlTA0VpMCV8ADZQqL7U6FS5SuM-JvyWjwpHPjvNKfdguXTUan-zrTnzIb1kAhgHagH3gCys881zJ6aUYNRPE-JuqXCvCMkaCZa-GA-pNBw" data-sitekey="6LfwuyUTAAAAAOAmoS0fdqijC2PbbdH4kjq62Y1b" id="recaptcha"></div>,
 <div style="font-size:13px;">
 <b>About this page</b><br/><br/>

 Our systems have detected unusual traffic from your computer network.  This page checks to see if it's really you sending the requests, and not a robot.  <a href="#" onclick="document.getElementById('infoDiv').style.display='block';">Why did this happen?</a><br/><br/>
 <div id="infoDiv" style="display:none; background-color:#eee; padding:10px; margin:0 0 15px 0; line-height:1.4em;">
 This page appears when Google automatically detects requests coming from your computer network which appear to be in violation of the <a href="//www.google.com/policies/terms/">Terms of Service</a>. The block will expire shortly after those requests stop.  In the meantime, solving the above CAPTCHA will let you continue to use our services.<br/><br/>This traffic may have been sent by malicious software, a browser plug-in, or a script that sends automated requests.  If you share your network connection, ask your administrator for help  a different computer using the same IP address may be responsible.  <a href="//support.google.com/websearch/answer/86640">Learn more</a><br/><br/>Sometimes you may be asked to solve the CAPTCHA if you are using advanced terms that robots are known to use, or sending requests very quickly.
 </div>

 IP address: 125.16.189.229<br/>Time: 2024-09-27T21:11:59Z<br/>URL: https://www.google.com/search?q=sanak+movie+trailer+link<br/>
 </div>,
 <div id="infoDiv" style="display:none; background-color:#eee; padding:10px; margin:0 0 15px 0; line-height:1.4em;">
 This page appears when Google automatically detects requests coming from your computer network which appear to be in violation of the <a href="//www.google.com/policies/terms/">Terms of Service</a>. The block will expire shortly after those requests stop.  In the meantime, solving the above CAPTCHA will let you continue to use our services.<br/><br/>This traffic may have been sent by malicious software, a browser plug-in, or a script that sends automated requests.  If you share your network connection, ask your administrator for help  a different computer using the same IP address may be responsible.  <a href="//support.google.com/websearch/answer/86640">Learn more</a><br/><br/>Sometimes you may be asked to solve the CAPTCHA if you are using advanced terms that robots are known to use, or sending requests very quickly.
 </div>]